In [23]:
array2=[[11,12,13],[21,22,23],[31,32,33]]

In [24]:
import pandas as pd

In [25]:
pd.DataFrame(array2)

    0   1   2
0  11  12  13
1  21  22  23
2  31  32  33

In [26]:
total=0
for i in range(0,len(array2)):
    total+= array2[0][i]
print(total)

36

In [27]:
total_row=[]
for row in range(0,len(array2)):
    row_total=0
    for column in range(0,len(array2[0])):
        row_total += array2[row][column]
    total_row.append(row_total)
print(total_row)

[36, 66, 96]

In [28]:
sum(total_row)

198

In [29]:
max(total_row)

96

In [30]:
total_row=[]
for row in range(0,len(array2)):
    row_total=0
    for column in range(0,len(array2[0])):
        row_total += array2[row][column]
    total_row.append(row_total)
for i in range(0,len(array2)):
    if (total_row[i]==max(total_row)):
        print('第%d列最大值為%d'%(i,total_row[i]))

第2列最大值為96

In [39]:
total_colume=[]
for column in range(0,len(array2[0])):
    colume_total=0
    for row in range(0,len(array2)):
        colume_total += array2[row][column]
    total_colume.append(colume_total)
print(total_colume)

[63, 66, 69]

In [20]:
#可能會考
array2 = [8, 3 ,7 ,6, 9, 1, 4]
print(array2)

for j in range(0, len(array2)):
    min_value = 9999
    min_index = -1
    # max_value = -9999
    # max_index = -1
    for i in range(j, len(array2)):
        if(array2[i]<min_value):
            min_value = array2[i]
            min_index = i
    #     if(array2[i]>max_value):
    #         max_value = array2[i]
    #         max_index = i

    temp = 0
    if(array2[j]>min_value):
        temp = array2[min_index] 
        array2[min_index] = array2[j]
        array2[j] = temp

    print(array2)

[8, 3, 7, 6, 9, 1, 4]
[1, 3, 7, 6, 9, 8, 4]
[1, 3, 7, 6, 9, 8, 4]
[1, 3, 4, 6, 9, 8, 7]
[1, 3, 4, 6, 9, 8, 7]
[1, 3, 4, 6, 7, 8, 9]
[1, 3, 4, 6, 7, 8, 9]
[1, 3, 4, 6, 7, 8, 9]